<% layout("layouts/boilerplate") %>

<body>
  <h3>All Listings</h3>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <% for (let listing of allListing) { %>
    <div class="col d-flex">
      <a
        href="/listing/<%= listing._id %>"
        class="listing_link w-100 text-decoration-none text-dark"
      >
        <div class="card h-100 listing-card">
          <img
            src="<%= listing.image %>"
            class="card-img-top"
            alt="listing_image"
            style="height: 200px; object-fit: cover"
          />
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b><br />
              &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
            </p>
          </div>
        </div>
      </a>
    </div>
    <% } %>
  </div>
</body>
